/* Zerando atributos pré-definidos*/
* { margin: 0; padding: 0;}

a {
    text-decoration: none;
}
a:visited{
    color: var(--color-white);
}


/* Variáveis de cores */
:root {
    --color-primary: rgb(255, 170, 18);
    --color-black: #000;
    --color-white: #FFF;
    --color-roxo: rgba(211,35,123,1);
    --color-amarelo: rgba(225,199,39,1);
}


/* Definindo as fontes */
.titulo{
    font-family: "Poppins", sans-serif;
}
.corpo{
    font-family: "Montserrat", sans-serif;
}



/* Estilos da barra de navegação */
.navbar {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between; /**Deixa o espaçamento ideal entre a logo, os itens e o botão*/
    align-items: center;
    padding: 1vw 0;
}


/* Logo da Lumi na navbar */
.nav-logo{
    float: left;
    width: 4vw;
    margin-left: 5vw;
}

/* Itens da navbar */
.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}


.nav-item a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
    font-size: 1vw;
    white-space: nowrap;
    padding: 0.5vw 0.89vw;
    transition: background-color 0.3s; /* Transição de cor de fundo ao passar o mouse */
}

.nav-item a:hover { /*! Alterar cor*/
    background-color: #555; /* Cor de fundo ao passar o mouse */
}

.espacamento{ /**O espaçamento entre as opçoes da navbar*/
    margin-left: 2vw;
}


/* Botão direito da navbar */
.nav-button{
    padding: 0.5vw 1.8vw;
    border: 0.11vw solid var(--color-white);
    border-radius: 2vw;
    margin-right: 3.5vw;
    font-size: 0.9vw;
    font-weight: 700;
}

.nav-button a{
    color: var(--color-white);
}

.nav-button a:visited{
    color: var(--color-white);
}



/* Estilos da section */
.ref{
    visibility: hidden; /*! Serve como âncora para posicionar os itens da section */
}

#principal{
    background-image: url("./imagens/header/aquarela.png"); /*Aquarela que fica atrás da lâmpada*/
    background-repeat: no-repeat;
    background-size: 47vw;
    background-position-x: -5vw;
    background-position-y: -9vw;
}

#lampada{
    height: 42vw;
    position: absolute; /**Serve para deixar a lâmpada acima dos outros elementos*/
    margin-top: -2vw;
    margin-left: 3vw;
}

.divDireita{
    float: right;
    width: 70vw;
    margin-top: 6vw;
    margin-right: 5vw;
}

#section-title{
    text-align: center;
    font-weight: 800;
    font-size: 3.5vw;
    line-height: 5vw;
}

.divDireita img{
    position: absolute;
    width: 24vw;
    margin-top: -4.3vw;
    margin-left: 36.75vw;
    z-index: -1;
}

#section-subtitle{
    text-align: center;
    font-size: 1.3vw;
    font-weight: 400;
    margin-top: 2vw;
}

#section-button{
    text-align: center;
    margin-top: 5vw;
}

#section-button button{
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
    padding: 1.5vw 1.5vw;
    border-radius: 2vw;
    color: var(--color-white);
    font-size: 1vw;
    font-weight: 700;
}

#barra{
    height: 6vw;
    background: rgb(225,199,39);
    background: linear-gradient(45deg, rgba(225,199,39,1) 26%, var(--color-roxo) 64%);
    margin-top: 32vw;
}





.cartela-clientes{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 7vw;
}

#apresentacao{
    display: grid;
    grid-template-columns: 3.8fr 4fr;
    gap: 2vw;
    height: 41vw;
    margin-top: 12.5vw;
}
  
#foto{
    background: var(--color-roxo);
    background: linear-gradient(21deg, var(--color-roxo) 5%, var(--color-amarelo) 31%, var(--color-amarelo) 61%, var(--color-roxo) 88%);
    border-top: 0.2vw solid var(--color-primary);
    display: flex;
    justify-content: center;
}

#foto img{
    position: absolute;
    margin-top: -8vw;
    width: 35vw;
}


#texto-apresentacao h2{
    margin-top: 4vw;
    line-height: 3vw;
    font-size: 2.5vw;
}

#texto-apresentacao span{
    font-size: 3.3vw;
}

#texto-apresentacao p{
    text-align: justify;
    font-size: 1.5vw;
    margin-top: 2vw;
    margin-right: 4vw;
}



#servicos{
    margin-top: 10vw;
    margin-left: 5vw;
}

#servicos h2{
    font-size: 3.5vw;
    font-weight: 800;
    line-height: 4.5vw;
}

#servicos p{
    margin-top: 1.5vw;
    margin-left: 0.1vw;
    font-size: 1.5vw;
}


.lista-servicos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 6vw;
    margin-right: 4.5vw;
    margin-top: 5vw;
}

.item-servico{
    background: rgb(225,199,39);
    background: linear-gradient(45deg, rgba(225,199,39,1) 26%, var(--color-roxo) 64%);
    border-radius: 2vw;
    height: 4vw;
    width: 19vw;
    color: var(--color-white);
    text-align: center;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#main-button{
    text-align: center;
    margin-top: 6vw;
    margin-right: 7.8vw;
}


#servicos button{
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
    padding: 1vw 4vw;
    border-radius: 2vw;
    color: var(--color-white);
    font-size: 1.2vw;
    font-weight: 700;
}


#atribuicoes{
    margin-top: 6vw;
}

#atribuicoes h2{
    font-size: 4vw;
    font-weight: 800;
    margin-left: 5vw;
}

#atribuicoes-colunas{
    margin-top: 2vw;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    height: 5vw;
}

#coluna-braco {
    position: relative;
}

#degrade-braco{
    margin-top: 7vw;
    height: 55.15vw;
    background: rgb(211,35,123);
    background: linear-gradient(140deg, rgba(211,35,123,1) 0%, rgba(225,199,39,1) 31%, rgba(225,199,39,1) 52%, rgba(211,35,123,1) 100%);
    border-radius: 0 3vw 3vw;
}


#coluna-braco img{
    width: 50.5vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Para garantir que a imagem fique acima do degradê */
}

.lista-atribuicoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 63vw;
    margin-top: 4vw;
    margin-left: auto;
    padding-right: 5.25vw;
}

.item-atribuicao{
    border: 0.25vw solid var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    height: 9vw;
    width: 38vw;
    font-size: 2vw;
}



#teste{
    margin-top: 5000px;
}