/* Zerando atributos pré-definidos*/
* { margin: 0; padding: 0;}

a {
    text-decoration: none;
}

a:visited{
    color: var(--color-white);
}



/* Variáveis de cores */
:root {
    --color-primary: rgb(255, 170, 18);
    --color-black: #000;
    --color-white: #FFF;
    --color-roxo: rgba(211,35,123,1);
    --color-amarelo: rgba(225,199,39,1);
}



/* Definindo as fontes */
.titulo{
    font-family: "Poppins", sans-serif;
}
.corpo{
    font-family: "Montserrat", sans-serif;
}



/* Estilos da barra de navegação */
.navbar {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5vw;
}


/* Logo da Lumi na navbar */
.nav-logo{
    float: left;
    width: 4vw;
    margin-left: 5vw;
}


/* Itens da navbar */
.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
    font-size: 1vw;
    white-space: nowrap;
    padding: 10px 15px;
    transition: background-color 0.3s; /* Transição de cor de fundo ao passar o mouse */
}

.nav-item a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}

.espacamento{
    margin-left: 2vw;
}


/* Botão direito da navbar */
.nav-button{
    padding: 0.5vw 1.8vw;
    border: 0.11vw solid var(--color-white);
    border-radius: 2vw;
    margin-right: 3.5vw;
    font-size: 0.9vw;
    font-weight: 700;
}

.nav-button a{
    color: var(--color-white);
}

.nav-button a:visited{
    color: var(--color-white);
}





/* Estilos da section */
.ref{
    visibility: hidden; /* Serve como âncora para posicionar a barra colorida */
}

#principal{
    background-image: url("./imagens/header/aquarela.png");
    background-repeat: no-repeat;
    background-size: 47vw;
    background-position-x: -5vw;
    background-position-y: -9vw;
}

#lampada{
    height: 42vw;
    position: absolute;
    margin-top: -4.3vh;
    margin-left: 3vw;
}

.divDireita{
    float: right;
    width: 70vw;
    margin-top: 6vw;
    margin-right: 5vw;
}

#section-title{
    text-align: center;
    font-weight: 800;
    font-size: 3.5vw;
    line-height: 5vw;
}

.divDireita img{
    position: absolute;
    width: 24vw;
    margin-top: -4.3vw;
    margin-left: 36.75vw;
    z-index: -1;
}

#section-subtitle{
    text-align: center;
    font-size: 1.3vw;
    font-weight: 400;
    margin-top: 2vw;
}

#section-button{
    text-align: center;
    margin-top: 5vw;
}

#section-button button{
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
    padding: 1.5vw 1.5vw;
    border-radius: 2vw;
    color: var(--color-white);
    font-size: 1vw;
    font-weight: 700;
}

#barra{
    height: 6vw;
    background: rgb(225,199,39);
    background: linear-gradient(45deg, rgba(225,199,39,1) 26%, var(--color-roxo) 64%);
    margin-top: 32vw;
}





.cartela-clientes{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 7vw;
}

#apresentacao{
    display: grid;
    grid-template-columns: 3.8fr 4fr;
    gap: 2vw;
    height: 41vw;
    margin-top: 12.5vw;
}
  
#foto{
    background: var(--color-roxo);
    background: linear-gradient(21deg, var(--color-roxo) 5%, var(--color-amarelo) 31%, var(--color-amarelo) 61%, var(--color-roxo) 88%);
    border-top: 0.2vw solid var(--color-primary);
    display: flex;
    justify-content: center;
}

#foto img{
    position: absolute;
    margin-top: -8vw;
    width: 35vw;
}


#texto-apresentacao h1{
    margin-top: 4vw;
    line-height: 3vw;
    font-size: 2.5vw;
}

#texto-apresentacao span{
    font-size: 3.3vw;
}

#texto-apresentacao p{
    text-align: justify;
    font-size: 1.5vw;
    margin-top: 2vw;
    margin-right: 4vw;
}



#teste{
    margin-top: 500px;
}