/* Zerando atributos pré-definidos*/
* { margin: 0; padding: 0; }

a {
    text-decoration: none;
}

a:visited{
    color: var(--color-white);
}


:root {
    --color-primary: rgb(255, 170, 18);
    --color-black: #000;
    --color-white: #FFF;
}


/* Definindo as fontes */
.titulo{
    font-family: "Poppins", sans-serif;
}
.corpo{
    font-family: "Montserrat", sans-serif;
}



/* Estilos da barra de navegação */

/* Logo da Lumi na navbar */
.nav-logo{
    float: left;
    height: 8vh;
    margin-left: 6.25vw;
}


/* Itens da navbar */
.navbar {
    background-color: var(--color-primary); /* Cor de fundo da navbar */
    display: flex;
    justify-content: space-between; /* Espaçamento dos itens na navbar */
    align-items: center;
    height: 11.25vh; /* Altura da navbar */
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center; /* Espaçamento uniforme das opções na navbar */
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-white); /* Cor do texto */
    font-weight: bold;
    padding: 10px 15px; /* Espaçamento interno para cada item */
    transition: background-color 0.3s; /* Transição de cor de fundo ao passar o mouse */
}

.nav-item a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}


/* Botão direito da navbar */
.nav-button{
    padding: 10px 33px;
    border: 2px solid var(--color-white);
    border-radius: 20px;
    margin-right: 120px;
}

.nav-button a{
    color: var(--color-white);
}

.nav-button a:visited{
    color: var(--color-white);
}




/* Estilos da main */
.ref{
    visibility: hidden; /* Serve como âncora para posicionar a barra colorida */
}

#principal{
    background-image: url("./imagens/main/aquarela.png");
    background-repeat: no-repeat;
    background-size: 47vw;
    background-position-x: -5vw;
    background-position-y: -9vw;

}

#barra{
    height: 6vw;
    background: rgb(221, 198, 45);
    background-image: linear-gradient(45deg, rgba(224, 198, 28, 0.65) 26%, rgba(211, 35, 123, 0.7) 64%), url("./imagens/main/noise.svg");
    margin-top: 32vw;
}

#lampada{
    height: 42vw;
    position: absolute;
    margin-top: -4.3vh;
    margin-left: 3vw;
}

.divDireita{
    float: right;
    margin-right: 8vw;
}

#main-title{
    text-align: center;
    font-size: 4vw;
    font-weight: 800;
    line-height: 5vw;
    margin-top: 6vw;
}

#main-subtitle{
    font-weight: 400;
    margin-top: 2vw;
}

#main-button{
    padding: 15px 20px;
    border-radius: 24px;
    color: var(--color-white);
    background-color: var(--color-primary);
}
